<section class="section" data-channel-subcribe="room" data-room-id="<%= @room.id%>" data-user-id="<%= current_user.id %>">
  <div class="row">
    <div class="columns">
      <div class="channels column is-one-quarter">
        <%= render 'rooms/room-list'%>
      </div>
      <div class="chats column is-three-quarters ">
        <div class="columns  navbar is-light">
          <div class="column is-two-third has-text-centered">
            <h2 class="title is-3"><%= @room.name %></h2>
          </div>
          <div class="column is-one-third">
            <%= link_to "leave", room_roomusers_path(@room), method: :delete, class: 'button is-white is-pulled-right' %>
          </div>
        </div>
        <div class="chat-list is-scrollable" id="chat_list">
          <% if @room.chats.present? %>
          <% @room.chats.order(created_at: :asc).last(100).each do |c| %>
          <% if c.user_id == current_user.id %>
          <div class="column is-7 is-offset-5">
            <p class="notification is-primary conversation-message"  >
              <%= c.text %>
            </p>
            <span class="subtitle is-7"><%= time_ago_in_words(c.created_at )%></span>
          </div>
          <% else %>
          <div class="column is-7">
            <article class="media">
              <div class="media-left">
                <figure class="image is-32x32">
                  <%= image_tag avatar_url(c.user), class: "is-rounded"%>
                </figure>
              </div>
              <div class="media-content">
                <p class="notification conversation-message" >
                  <%= c.text %>
                </p>
                <span class="subtitle is-7"><%= time_ago_in_words(c.created_at )%></span>
              </div>

            </article>
          </div>
          <% end %>
          <% end %>
          <% else %>
          <p> Be the first to chat</p>
          <% end %>
        </div>

            <%= form_for [@room, Chat.new], remote: :true, id: 'new_chat' do |f|%>
            <div class="field has-addons">
            <p class="control is-expanded">
              <%= f.text_field :text, class: 'input is-fullwidth', placeholder: "Type a message..."%>

            </p>
            <p class="control"><%= f.submit "Send", class: 'button is-primary'%></p>

          </div>
          <% end %>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    $('#new_chat').keydown(function(event) {
        if (Event.keyCode == 13) {
          e.preventDefault();
          $(this).submit();
        }
    })
    $('#new_chat').on('submit', (e) => {
      e.preventDefault();
    })
    $('#new_chat').reset();
    $('#chat_list').stop().animate({ scrollTop: $('#chat_list').prop("scrollHeight"), 1000 })
  })
</script>
